.tag {
    margin-top: 25px;
    padding: 10px 50px;
    background: #FF6060;
    color: white;
    border-radius: 15px;
    font-weight: 600;
    width: fit-content;
    // &:hover {
    //     cursor: pointer;
    // }
}