.fiche-logement {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;


    .carroussel {
        width: 90%;
        height: auto;
        background-size: cover;
        background-position: center;

        img {
            width: 100%;
            height: 415px;
            object-fit: cover;
            border-radius: 25px;
        }
    }

    .description-container {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .description {
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            font-family: Montserrat;
            color: #FF6060;

            h1 {
                font-size: 36px;
                font-weight: 500;
                line-height: 51.34px;
            }

            h3 {
                font-size: 18px;
                font-weight: 500;
                line-height: 25.67px;
            }

            .tags {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
            }
        }

        .equipement {
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 20px;

            .info {
                display: flex;
                align-items: center;
                gap: 10px;
                width: min-content;
                text-align: end;

                h3 {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 25.67px;
                    color: #FF6060;
                }


                img {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                
            }
            .rating {
                display: flex;
                align-items: center;
                gap: 5px;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

}