/* .baniere__container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 223px;
}

.baniere {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 223px;
    background: linear-gradient(0deg, rgba(11, 11, 11, 0.592), rgba(14, 9, 9, 0.551)), url('../assets/baniere.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.baniere__title {

    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 68.45px;
    text-align: left;
    color: #FFFFFF;


} */