.menu-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    min-width: 335px;

    .menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: #FF6060;
        border-radius: 5px;
        padding: 15px;
        z-index: 2;

        &:hover {
            cursor: pointer;
        }

        .menu__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
        }

        .menu__arrow {
            transition: transform 0.6s ease-in-out;
        }


    }

    .menu-content {
        background-color: #f6f6f6;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
        max-height: 0;
        overflow: hidden;
        transition: all 0.9s ease;

        p {
            padding: 20px;

        }

        ul {
            list-style: none;
            margin: 25px;

            li {
                margin-top: 10px;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;

            }
        }
    }

    &.open {
        .menu__arrow {
            transform: rotate(180deg);

        }
    }

    @media screen and (max-width: 425px) {
        margin: 0;

        .menu-header {
            padding: 5px 10px;

            .menu__title {
                font-size: 14px;
            }

            .menu__arrow {
                width: 20px;
                height: 20px;
            }
        }

        @media screen and (max-width: 320px) {
            min-width: 0;

        }

        .menu-content {
            p {
                font-size: 15px;
            }
        }

    }
}