@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;

}

.nav__logo  {
    width: 210.32px;
    height: 68px;
}

.nav__logo img {
    width: 100%;
    height: 100%;
}


.nav__links ul {
    display: flex;
    list-style: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: right;
    gap: 57px;

}

.nav__links ul li a {
    font-family: Montserrat;
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.nav__links ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 700px) {
    .nav {
        padding: 10px; 
    }

    .nav__logo {
        width: 145px; 
        height: 45px;
    }

    .nav__links ul {
        gap: 15px; 
        font-size: 16px; 
    }

    .nav__links ul li a {
        margin-right: 5px; /* Réduire la marge entre les liens */
    }
}
