*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

main {
    min-height: calc(100vh - 320px);

}

$color_1: #FF6060;
$font-family_1: 'Montserrat', sans-serif;